<h1>Привет, это тестовое задание по Flask.</h1>
<ol>
    <li>
        <strong>GET /users</strong>
        <ul>
            <li><strong>Описание:</strong> Этот эндпоинт извлекает всех пользователей.</li>
            <li><strong>Метод:</strong> GET</li>
            <li><strong>Параметры:</strong> Нет</li>
            <li><strong>Возвращает:</strong> JSON-ответ, содержащий всех пользователей.</li>
        </ul>
    </li>
    <li>
        <strong>GET /users/&lt;city&gt;/&lt;user_id&gt;</strong>
        <ul>
            <li><strong>Описание:</strong> Этот эндпоинт извлекает погоду для определенного города и обновляет
                баланс пользователя на основе температуры.</li>
            <li><strong>Метод:</strong> GET</li>
            <li><strong>Параметры:</strong>
                <ul>
                    <li>city (строка): Название города, для которого запрашивается погода.</li>
                    <li>user_id (целое число): Уникальный идентификатор пользователя.</li>
                </ul>
            </li>
            <li><strong>Возвращает:</strong>
                <ul>
                    <li>В случае успешного выполнения возвращает JSON-ответ, содержащий название города, идентификатор
                        пользователя, температуру города и результат обновления баланса пользователя.</li>
                    <li>Если возникли ошибки (например, недопустимый идентификатор пользователя или ошибка при получении
                        данных о погоде), в ответе возвращаются соответствующие сообщения об ошибке.</li>
                </ul>
            </li>
        </ul>
    </li>
</ol>

Возьмите меня на работу!